* {
    font-family: monospace; 
    /* margin: 0 auto; */
}
body{
    background-color: #3B4252;
}
/* div {
    border: 3px solid red;
} */
.navbar {
    max-width: 90%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    /* border: 2px solid black; */
    justify-content: space-around;
    align-items: flex-end;
    background-color: #5E81AC;
    margin: 0 auto;
    /* margin-bottom: 0.5rem; */
    /* border-radius: 1rem; */
}
.navbar-items-right {
    /* border: 2px solid yellow; */
    list-style: none;
    display: flex;
    margin-bottom: 0;
    gap: 2rem;
}
.header-logo {
    font-size: 2rem;
    /* border: 2px solid black; */
    margin-bottom: 0;
}
.links {
    text-decoration: none;
    color: black;
    /* border: 2px solid black; */
}
.topbody {
    max-width: 90%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #5e81ac;
    margin: 0 auto;
    /* border: 2px solid yellow; */
    padding: 2rem 0;
}
.topbody-left {
    padding: 2rem;
    background-color: antiquewhite;
    /* border: 2px solid black; */
    width: 40%;
}
.topbody-left-button {
    background-color: #008CBA;
    font-size: 1.25rem;

}
.topbody-right {
    background-color: aliceblue;
    padding: 2rem;
    /* border: 2px solid black; */
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}